html {
    margin: 0;
    font-family: Avenir Next, Helvetica;
    background-color: #282A2F;
}

body {
    margin: 0;
    display: flex;
}

.main-container {
    width: 65%;
}

.title {
    font-size: 80px;
    font-weight: 600;
    color: white;
    margin-bottom: 5%;
    margin-left: 1%;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.button {
    display: flex;
}

.icon-container {
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-right: 10px;
}

.icon-container i {
    height: 100%;
    width: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infected {
    background-color: #ee5b58;
}

.deaths {
    background-color: #757575;
}

.recovered {
    background-color: #5DC83E;
}

.total-cases {
    background-color: #9945D7;
}

.general-info {
    display: flex;
}

.category {
    padding-right: 10px;
    color: white;
    font-size: 20px;
}

.total {
    font-size: 20px;
    color: #FF802E;
    font-weight: 600;
}

.delta {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.side-pane-container {
    width: 35%;
    height: 100vh;
    background-color: #44444C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    height: 50px;
    width: 90%;
    background-color: #282A2F;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    margin: 10%;
}

.search-bar i {
    margin-right: 10px;
    margin-left: 10px;
}

.country-list-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #282A2F;
    border-radius: 12px;
    overflow-y: hidden;
}

.country-list{
    overflow-y: scroll;
}

.country-container {
    display: flex;
    padding: 5%;
    flex-direction: column;
}

.country-flag-name {
    display: flex;
    align-items: center;
}

.country-name {
    padding-left: 10px;
    color: white;
    font-size: 50px;
}

.country-flag-container {
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-total-cases {
    padding-left: 65px;
    color: white;
}

.country-info-container {
    width: 80%;
}

.map-container{
    height: 70%;
    width: 100%;
margin-top: 1%;
}